.env
/data/processed/*
!/data/processed/.gitkeep
/data/raw/*
!/data/raw/.gitkeep
/data/vectorstore/*
!/data/vectorstore/.gitkeep
/src/rag_assistant/__pycache__
/src/rag_assistant/memory/__pycache__
/src/rag_assistant/validation/__pycache__
/vectorstore/*
!/vectorstore/.gitkeep